# Ignore everything inside the data folder
/results/stn_gpe_system/data/**

# Allow Git to look inside these subfolders
!/results/stn_gpe_system/data/
!/results/stn_gpe_system/data/PD/
!/results/stn_gpe_system/data/sector_DBS/
!/results/stn_gpe_system/data/std_DBS/

# Now unignore the specific processed files
!/results/stn_gpe_system/data/PD/processed_data.pkl
!/results/stn_gpe_system/data/sector_DBS/processed_data_PI_10.pkl
!/results/stn_gpe_system/data/sector_DBS/processed_data_PI_20.pkl
!/results/stn_gpe_system/data/std_DBS/processed_data.pkl


/basal_ganglia/train_old.py
/basal_ganglia/BGnetwork_old.py
/envs/prob_reversal_learning_old.py
**/__pycache__/